body, header, div, ul, li, button { border:0; margin: 0; padding: 0; font-family: helvetica }

ul, li {list-style: none	}

header { width:100%; height:80px; color:white;  background-color: black; position: fixed; top:0; padding: 0 20px; z-index: 1000;}

#main{ width: 940px; margin: 120px auto;}